<head>
    <link rel="stylesheet" href="company-login.component.css">
</head>
<h3>Company Login</h3>
<body>
    
    <form #simpleForm="ngForm">
        
        <p class="email">Company Email:
            <input ngModel #email="ngModel" pattern="[a-z0-9.]+@[a-z0-9.]+\.[a-z]{2,}$" name="company_email" id="Email" type="email" class="email1" placeholder="abc@gmail.com" required>
            <br>
            <span *ngIf="email.invalid && email.touched && email.dirty" style="color:red ;" class="name-error">Please enter a valid Mail id</span>
        </p>
        <p class="password">Company Password:
            <input ngModel #password1="ngModel" name="company_password" id="password" type="password" class="password1" placeholder="Enter password" required>
            <br>
            <span *ngIf="password1.invalid && password1.touched && password1.dirty" style="color:red ;" class="name-error">Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</span>
        </p>
        
        <br>
        <button [disabled]="simpleForm.invalid" (click)="getValues(simpleForm.value)" type="submit" class="login" routerLink="../jobpost">
           Login
        </button>       
    </form>
</body>