<head>
    <link rel="stylesheet" href="company-reg.component.css">
</head>
<h3>Company Sign-in</h3>          <!--  template driven form -->
<body>
    <form #simpleForm="ngForm">
        <p class="name">Company Name:
            <input ngModel required #name="ngModel" pattern="[a-z A-z 0-9]+$" name="company_name" id="Name" type="text" class="name1" placeholder="Ex. abc solutions">
            <br>
            <span *ngIf="name.invalid && name.touched && name.dirty" style="color:red ;" class="name-error">Please enter a valid name</span>
        </p>
        <p class="email">Company Email:
            <input ngModel #email="ngModel" pattern="[a-z0-9.]+@[a-z0-9.]+\.[a-z]{2,}$" name="company_email" id="Email" type="email" class="email1" placeholder="abc@gmail.com" required>
            <br>
            <span *ngIf="email.invalid && email.touched && email.dirty" style="color:red ;" class="name-error">Please enter a valid Mail id</span>
        </p>
        <p class="phone-no">Company Phone Number:
            <input ngModel #phoneno1="ngModel" pattern="[0-9]{10}" name="company_phone" id="phone-no" type="numbers" class="phone-no1" placeholder="10-digit number" required>
            <br>
            <span *ngIf="phoneno1.invalid && phoneno1.touched && phoneno1.dirty" style="color:red ;" class="name-error">Please enter a valid number</span>
        </p>
        <p class="password">Company Password:
            <input ngModel #password1="ngModel" name="company_password" id="password" type="password" class="password1" placeholder="Set your password" required>
            <br>
            <span *ngIf="password1.invalid && password1.touched && password1.dirty" style="color:red ;" class="name-error">Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</span>
        </p>
        <p class="company-type">Company type:
            <input ngModel #type="ngModel" name="company_type" id="company-type" type="text" class="company-type1" placeholder="Product/Service-based" required>
            <br>
            <span *ngIf="type.invalid && type.touched && type.dirty" style="color:red ;" class="name-error">Please enter a valid input</span>
        </p>
        <p class="address">Company address:
            <textarea ngModel class="address1" name="company_address" id="address" cols="20" rows="5" maxlength="100" placeholder="Enter your address" required></textarea>
        </p>
        <p class="location">Company city:
            <input ngModel #location="ngModel" pattern="[a-z A-z]+$" name="company_city" id="location" type="text" class="location1" placeholder="Ex. Chennai" required>
            <br>
            <span *ngIf="location.invalid && location.touched && location.dirty" style="color:red ;" class="name-error">Please enter a valid input</span>
        </p>
        
        <button [disabled]="simpleForm.invalid" (click)="getValues(simpleForm.value);" type="submit" class="register">
           Register
        </button>
        
       <p class="login">Already have an account? <a routerLink="./login">Login</a> </p>
       
    </form>
</body>