h2{
    text-align: center;
}
body{
    margin-top: 50px;
}
.name{
    margin-left: 500px;
}
.name1{
    margin-left: 63px;
}
.email{
    margin-left: 500px;
}
.email1{
    margin-left: 62px;
}
.phone-no{
    margin-left: 500px;
}
.phone-no1{
    margin-left: 5px;
}
.company-type{
    margin-left: 500px;
}
.company-type1{
    margin-left: 73px;
}
.location{
    margin-left: 500px;
}
.location1{
    margin-left: 50px;
}
.role{
    margin-left: 500px;
}
.role1{
    margin-left: 77px;
}
.salary{
    margin-left: 500px;
}
.salary1{
    margin-left: 52px;
}
.register{
    margin-left: 500px;
}

.next{
    margin-left: 650px;
}
.name-error{
    margin-left: 175px;
}
